@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&family=League+Spartan:wght@300;400;500;600&family=Montserrat:wght@400;500&family=Outfit:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&family=Rubik:wght@300;400;500;600&display=swap');

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}


:root{
    --main-color:#FFF;
    --main-background:#f0f2f5;
    --main-color-hover:#f2f2f2;
    --main-color-alt:#fff;
    /* --main-color-alt:#f7f7f7; */
    --main-danger: #dc3545;
    --section-color:#;
    --main-transition: 0.3s;
    --color-text:#0f1419;
    --color-comment:#f0f2f5;
    --color-gray:#dee2e6;
}
body{
    background-color: var(--main-background) !important;
    position: relative;
    color: var(--color-text);
    height: 800px;
}
body.dark{
    --main-color:#000;
    --main-background:#000;
    --main-color-hover:#181818;
    --main-color-alt:#212121;
    --main-danger: #dc3545;
    --section-color:#;
    --main-transition: 0.3s;
    --color-text:#f5f5f5;
    --color-comment:#3a3b3c;
    --color-gray:#575b5f;
}
.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #7b7b7b var(--main-color)000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: var(--main-color)000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #7b7b7b;
    border: 3px solid var(--main-color)000;
  }

  /* Start chat */
.chatbot{
    position: relative;
    top: 100px;
    width: 700px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    gap: 20px;
    background-color: var(--main-color-alt);
    border-radius: 3px;


}
.chatbot header {
    padding: 16px 0;
    position: relative;
    text-align: center;
    color: #fff;
    background: #724ae8;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }
  .chatbot header h2{
    margin: 0;
  }
  .chatbot .chatbox {
    overflow-y: auto;
    height: 510px;
    padding: 30px 20px 100px;
  }
  .chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
    width: 6px;
  }
  .chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 25px;
  }
  .chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
  }
  .chatbox .chat {
    display: flex;
    list-style: none;
    gap: 10px;
  }
  .chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
  }
  .chatbox .incoming{
  }
  .chatbox .incoming{

  }
  .chatbox .incoming i {
    width: 32px;
    height: 32px;
    color: #fff;
    cursor: default;
    text-align: center;
    line-height: 32px;
    align-self: flex-end;
    background: #724ae8;
    border-radius: 4px;

  }
  .chatbox .chat p {
    white-space: pre-wrap;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    max-width: 75%;
    color: #fff;
    font-size: 0.95rem;
    background: #724ae8;
  }
  .chatbox .incoming p {
    border-radius: 10px 10px 10px 0;
    margin: 0;
  }
  .chatbox .chat p.error {
    color: #721c24;
    background: #f8d7da;

  }
  .chatbox .incoming p {
    color: #000;
    background: #f2f2f2;
  }
  .chatbot .chat-input {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 3px 20px;
    border-top: 1px solid #ddd;
  }
  .chat-input textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    max-height: 180px;
    padding: 15px 15px 15px 0;
    font-size: 0.95rem;
  }
  .chat-input i {
    align-self: flex-end;
    color: #724ae8;
    cursor: pointer;
    height: 55px;
    display: flex;
    align-items: center;
    visibility: hidden;
    font-size: 1.35rem;
  }
  .chat-input textarea:valid ~ i {
    visibility: visible;
  }
  .chatbox img{
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin: 0 0px 7px 10;
    align-self: flex-start;
    background: #724ae8;
    border-radius: 4px;
  }

  @media (max-width: 768px){
    .chatbot{
      width: 650px;
    }
  }
  @media (max-width: 576px){
    .chatbot{
      top: 150px;
      width: 370px;
      gap: 10px;
    }
  }
  /* End chat */